@using Net_6.Common.Shared.Model
@using Net_6.Logic.Queries.Interface
@using Net_6.Logic.Shared.Configs
@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "Admin - Trang chủ - Cafe Dev Code";
}

@section Header {
    @{
        var headerModel = new HeaderMetaViewModel();
        headerModel.SetData("Cafe Dev Code", "cafe dev, code, code fun, daily code", "Đây là mô tả", "", "");
        @await Html.PartialAsync("~/Views/Partial/HeaderMeta.cshtml", headerModel);
    }
}

@inject IPostQueries postQueries
@inject ITagQueries tagQueries
@inject IOptions<SiteConfig> siteConfig

<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            @{
                var topPosts = postQueries.GetPaging(new BaseQuery()
                {
                    Keywords = string.Empty,
                    PageIndex = 1,
                    PageSize = 5,
                });
            }
        </div>
    </div>
</div>
<!-- Banner Ends Here -->
<section class="blog-posts mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        @{
                            var posts = postQueries.GetPaging(new BaseQuery()
                            {
                                Keywords = string.Empty,
                                PageIndex = 1,
                                PageSize = 20,
                            });

                            if (posts != null &&
                                posts.Items.Any())
                            {
                                foreach (var post in posts.Items)
                                {
                                    <div class="col-lg-12">
                                        <div class="blog-post">
                                            <a href="@($"{siteConfig.Value.HttpsUrl}{post.UrlMeta}-{post.Id}.html")" class="blog-thumb">
                                                <img src="@($"{siteConfig.Value.HttpsUrl}{post.Image}")" alt="">
                                            </a>
                                            <div class="down-content">
                                                <a href="@($"{siteConfig.Value.HttpsUrl}{post.UrlMeta}-{post.Id}.html")"><h4>@post.Title</h4></a>
                                                <ul class="post-info">
                                                    <li><a href="#">@post.AuthorName</a></li>
                                                    <li><a href="#">@post.PostDate?.ToString("yyyy, MMM, dd")</a></li>
                                                    <li><a href="#">@post.TotalComment Comments</a></li>
                                                </ul>
                                                <p>@post.Summary</p>
                                                <div class="post-options">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-tags"></i></li>
                                                                @{
                                                                    var tags = tagQueries.GetByPostId(post.Id);
                                                                    foreach(var tag in tags) 
                                                                    {
                                                                        <li><a href="@($"{siteConfig.Value?.HttpsUrl}tag/{tag.UrlMeta}-{tag.Id}.html")">@tag.Title</a>,</li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                        <div class="col-6">
                                                            <ul class="post-share">
                                                                <li><i class="fa fa-share-alt"></i></li>
                                                                @{
                                                                    var postUrl = $"{siteConfig.Value.HttpsUrl}{post.UrlMeta}-{post.Id}.html";
                                                                    var facebookShare = "http://www.facebook.com/sharer/sharer.php?u=" + postUrl;
                                                                    var twitterShare = "http://twitter.com/share?url=" + postUrl;
                                                                    <li><a href="@facebookShare">Facebook</a>,</li>
                                                                    <li><a href="@twitterShare"> Twitter</a></li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @await Html.PartialAsync("~/Views/Partial/PortalMenuLeft.cshtml")
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(() => {
        $('.owl-banner').owlCarousel({
            loop: false,
        })
    })
</script>