@using Net_6.Logic.Queries.Interface
@using Net_6.Logic.Shared.Configs
@using Net_6.Logic.Shared.Models
@using Microsoft.Extensions.Options
@using System.Security.Claims
@model PostDetailModel
@inject IOptions<SiteConfig> siteConfig
@inject IHttpContextAccessor httpContextAccessor
@inject ICommentQueries commentQueries

@section Header {
    @{
        var headerModel = new HeaderMetaViewModel();
        var url = $"{siteConfig.Value.HttpsUrl}{Model.UrlMeta}-{Model.Id}.html";
        headerModel.SetData(Model.Title, Model.Keywords, Model.Description, Model.Image, url);
    @await Html.PartialAsync("~/Views/Partial/HeaderMeta.cshtml", headerModel);
    }
}


<div class="heading-page header-text p-0 pt-3">
    
</div>

<!-- Banner Ends Here -->

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="@($"{siteConfig.Value.HttpsUrl}{Model.Image}")" alt="">
                                </div>
                                <div class="down-content">
                                    <a href="@($"{siteConfig.Value.HttpsUrl}{Model.UrlMeta}-{Model.Id}.html")"><h4>@Model.Title</h4></a>
                                    <ul class="post-info">
                                        <li><a href="#">@Model.Author?.ShortName</a></li>
                                        <li><a href="#">@Model.PostDate?.ToString("yyyy, MMM, dd")</a></li>
                                        <li><a href="#">@Model.TotalComment Bình luận</a></li>
                                    </ul>
                                    @Html.Raw(Model.Content)
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    @foreach(var tag in Model.Tags) 
                                                    {
                                                        if(tag != Model.Tags.Last()) {
                                                            <li><a href="@($"{siteConfig.Value?.HttpsUrl}tag/{tag.UrlMeta}-{tag.Id}.html")">@tag.Title</a>,</li>
                                                        }
                                                        else {
                                                            <li><a href="@($"{siteConfig.Value?.HttpsUrl}tag/{tag.UrlMeta}-{tag.Id}.html")">@tag.Title</a></li>
                                                        }
                                                    }
                                                    
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-share">
                                                    <li><i class="fa fa-share-alt"></i></li>
                                                    @{
                                                        var postUrl = $"{siteConfig.Value.HttpsUrl}{Model.UrlMeta}-{Model.Id}.html";
                                                        var facebookShare = "http://www.facebook.com/sharer/sharer.php?u=" + postUrl;
                                                        var twitterShare = "http://twitter.com/share?url=" + postUrl;
                                                        <li><a href="@facebookShare">Facebook</a>,</li>
                                                        <li><a href="@twitterShare"> Twitter</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading">
                                    <h2 class="mb-2">@Model.TotalComment bình luận</h2>
                                </div>
                                <div class="content">
                                    @{
                                        var comments = commentQueries.GetTreeList(Model.Id, 0);
                                        var treeViewModel = new CommentTreeViewModel()
                                        {
                                            IsRoot = true,
                                            Collection = comments
                                        };
                                        @await Html.PartialAsync("~/Views/Comment/Tree.cshtml", treeViewModel);
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment mt-2">
                                <div class="sidebar-heading mb-3">
                                    <h2 class="mb-2">Bình luận</h2>
                                </div>
                                <div class="content">
                                    @{
                                        var userName = httpContextAccessor.HttpContext?.User?.FindFirst(ClaimTypes.Name)?.Value;
                                        @if (!string.IsNullOrEmpty(userName))
                                        {
                                            <form id="comment" asp-action="CreatePostComment" asp-controller="Comment">
                                                <input type="hidden" name="PostId" id="PostId" value="@Model.Id"/>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <textarea name="Content" rows="4" id="Content" placeholder="Nhập bình luận của bạn" required=""></textarea>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <button type="submit" id="form-submit" class="main-button">Bình luận</button>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </form>
                                        }
                                        else 
                                        {
                                            var url = $"{siteConfig.Value.HttpsUrl}{Model.UrlMeta}-{Model.Id}.html";
                                            <p style="font-size: 18px; font-weight: bold;">Bạn vui lòng <a asp-action="LoginPortal" asp-controller="User" asp-route-returnUrl="@url" style="color: #f48840;">đăng nhập</a> để bình luận</p>
                                        }
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @await Html.PartialAsync("~/Views/Partial/PortalMenuLeft.cshtml")
            </div>
        </div>
    </div>
</section>